
<app-home></app-home>

<div class="table-container" style="width: 100%; display: flex; justify-content: center; padding-top: 60px;">
<table class="table" style="width: 60%; ">
    <thead>
      <tr >
        <th scope="col">Domain Name</th>
        <th scope="col">WordCount</th>
        <th scope="col">favourite</th>
        <th scope="col">Web-Links</th>
        <th scope="col">Media-Links</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr style="font-size: 10px; " *ngFor="let data of allData">
        <th>{{ data.domain }}</th>
        <td>{{ data.wordcount }}</td>
        <td>{{ data.favourite }}</td>
        <td><a href="{{ data.weblinks }}">{{ data.weblinks }}</a></td>
        <td style="max-width: 400px;">
          <ul style="word-wrap: break-word;">
            <li *ngFor="let media of data.medialinks"><a href="{{media}}">{{ media }}</a> </li>
          </ul>
        </td>   
        <td>
          <div><button (click)="remove(data._id)" style="width: 100px; margin: 4px 0; font-size: 10px;" class="btn btn-danger">Remove</button></div>
          <div *ngIf="data.favourite; else elseblock"><button (click)="removefav(data._id)" style="width: 100px; margin: 4px 0; font-size: 9px;" class="btn btn-dark">Remove From Fav</button></div>
          <ng-template #elseblock>
            <div><button (click)="addfav(data._id)" style="width: 100px; margin: 4px 0; font-size: 10px;" class="btn btn-success">Add to Fav</button></div>
          </ng-template>
        </td>   
      </tr>
    
    </tbody>
  </table></div>